<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="boot.css">
    <title>Navbar</title>
</head>
<body>
    <header>
        <figure class="isim">Arduino Project</figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
                <a href="#home"><li>Home</li></a>
                <a href="#intro"><li>Introduction</li></a>
                <a href="#control"><li>Control</li></a>
                <a href="#devers"><li>Developers</li></a>
                <a href="#contact"><li>Contact</li></a>
            </ul>
        </nav>
    </header>



</body>
</html>